body {
  background-image: url(https://i.imgur.com/ncRoQxj.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: 0px 0px;
  min-width: 600px;
  max-width: 1920px;
}

ul {
  padding-right:1px;
  list-style-type: none;
  color: transparent;
  font-family: Verdana;
  background: transparent;
  padding-bottom: 2px;
  line-height: 0px;
  transition: all 0.2s linear;
}

#informacion,
#exp,
#for,
#apt {
  color: white;
  font-family: "Comic Sans MS";
  background: rgba(0, 0, 0, 0.8);
  width: 30%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: default;
  box-shadow: 2px 2px 3px 3px rgba(0, 255, 255, 0.2);
  position: relative;
  z-index: 2;
  transition: all 0.5s linear;
}

h1 {
  color: white;
  font-family: "Lucida Handwriting";
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding-left: 10px;
  transition: all 0.5s linear;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  -webkit-animation:colorchange 20s infinite alternate;
      
      
    }

    @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
h1:hover {
  transition: all 0.6s ease;
  box-shadow: 2px 2px 3px 5px rgba(0, 255, 255, 0.2)
}

#cuadrofoto {
  float: center;
  width: 65%;
  padding-right: 30px;
  padding-top: 5%;
}

#foto {
  box-shadow: 2px 2px 3px 3px #666;
  width: 170px;
  border-radius: 100%;
  transition: all 0.5s linear;
  display: grid;
  place-items: center;
  
}

#foto:hover {
  border-radius: 20%;
  transition: all 0.5s cubic-bezier(.29, .44, .94, 1.43);
  width: 45%;
}

h2 {
  padding-left: 8px;
  padding-top: 5px;
  transition: all 0.5s linear;
}

#informacion:hover h2,
#for:hover h2,
#exp:hover h2,
#apt:hover h2 {
  color: DarkBlue;
  padding-left: 20px;
  transition: all 0.5s cubic-bezier(.98, -0.78, .03, 1.48);
}

#informacion:hover ul,
#for:hover ul,
#exp:hover ul,
#apt:hover ul {
  transition: all 0.5s cubic-bezier(.98, -0.78, .03, 1.48);
  color: black;
  background: rgba(255, 255, 255, 0.8);
  line-height: 20px;
  font-family: "Comic Sans MS";
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

#fondo {
  background: RGBA(255, 255, 255, 0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

li:hover {
  transition: all 0.3s linear;
  font-style: italic;
  color: blue;
}

#correo:hover {
  cursor: pointer
}